{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quo nemo veritatis, deserunt labore autem error cum sed voluptatum vero earum. Officiis ex corrupti amet excepturi sequi explicabo facere, velit vitae! Totam aspernatur quas sit? Ullam distinctio commodi sed saepe iusto! Quia quaerat odio itaque doloremque dolores magni dolorum. Eligendi eaque pariatur maiores possimus natus doloremque impedit quas cupiditate, laboriosam quae voluptatibus optio esse laudantium ex illo alias officiis, illum vitae. Laboriosam pariatur mollitia aliquid cum nostrum ullam molestias inventore dolorem dolorum maxime delectus nemo sit non, perspiciatis id, natus ratione distinctio quae ipsa omnis autem voluptate facilis praesentium sint.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/login/">
                Login
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}